<!DOCTYPE html>
<html ng-app="app" ng-controller="GlobalCtrl">
<head>
  <title>{{title}} | Flash</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="48 hours. One word. One epic photo competition.">

  <!-- Styles -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Angular & jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

  <!-- Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body>

<ng-view></ng-view>

<!-- Todo Template -->
<script type="text/ng-template" id="/todos.html">
  <ul>
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.completed" id='{{todo.name}}'>
      <label for="{{todo.name}}">{{ todo.name }}</label>
    </li>
  </ul>
</script>

<!-- Email Template -->
<script type="text/ng-template" id="/email.html">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">{{name}}</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">{{email}}</label>
        </div>
      </div>
    </form>
  </div>
</script>

<!-- Import app & pages -->
<script>
var app = angular.module('app', ['ngRoute'])

.controller('GlobalCtrl', ['$scope', function ($scope) {
  $scope.title = "Title";
  $scope.navState = "x";
}])

.controller('TodoController', ['$scope', function ($scope) {
  $scope.todos = [
    { name: 'Master HTML/CSS/Javascript', completed: true },
    { name: 'Learn AngularJS', completed: false },
    { name: 'Build NodeJS backend', completed: false },
    { name: 'Get started with ExpressJS', completed: false },
    { name: 'Setup MongoDB database', completed: false },
    { name: 'Be awesome!', completed: false },
  ];
}])

.controller('EmailController', ['$scope', function ($scope) {
  $scope.name = "Gabe";
  $scope.email = "rogangabe@gmail.com";
}]);



app.config(['$routeProvider', function ($routeProvider) {
  $routeProvider
    .when('/', {
      templateUrl: 'app/pages/news/view.html',
      controller: 'newsCtrl'
    })

    .when('/email', {
      templateUrl: '/email.html',
      controller: 'EmailController'
    })

    .when('/todo', {
      templateUrl: '/todos.html',
      controller: 'TodoController'
    })

    .otherwise({
        redirectTo: '/'
    });
}]);
</script>

</body>
</html>
